<configuration xmlns:patch="http://www.sitecore.net/xmlconfig/" xmlns:set="http://www.sitecore.net/xmlconfig/set/">
  <sitecore>
    <pipelines>
      <initialize>
        <processor type="Sitecore.Pipelines.Loader.ShowVersion, Sitecore.Kernel">
          <assemblies>
            <assembly reference="96169">/bin/Sitecore.Support.96169.dll</assembly>
          </assemblies>
        </processor>
      </initialize>
    </pipelines>
    <aggregation>
      <!-- Patching the default reportingStorageProviders to be re-routed to the custom IDefinitionsStorageProvider defined in experienceAnalytics section below.-->
      <reportingStorageProviders>
        <primary>
          <patch:attribute name="type" value="Sitecore.Support.Analytics.Aggregation.SqlReportingStorageProvider, Sitecore.Support.96169"/>
        </primary>
        <secondary.live>
          <patch:attribute name="type" value="Sitecore.Support.Analytics.Aggregation.SqlReportingStorageProvider, Sitecore.Support.96169"/>
        </secondary.live>
        <secondary.history>
          <patch:attribute name="type" value="Sitecore.Support.Analytics.Aggregation.SqlReportingStorageProvider, Sitecore.Support.96169"/>
        </secondary.history>
      </reportingStorageProviders>
    </aggregation>
  </sitecore>
</configuration>